# committees prediction (multilabel)

[cm-mllm-en]
name=Committees MLLM
vocab=cm
backend=mllm
language=en
analyzer=snowball(english)

[cm-parabel-en]
name=Committees Parabel
vocab=cm
backend=omikuji
language=en
analyzer=snowball(english)

[cm-bonsai-en]
name=Committees Bonsai
vocab=cm
backend=omikuji
language=en
analyzer=snowball(english)
cluster_balanced=False
cluster_k=100
max_depth=3
ngram=2
min_df=3
